
# Compiled source #
###################
*.o
*.so
*.cpp
*.c
*.pyc

# Project configuration files
#############################

.project
.pydevproject
.settings

# Python precompiled
####################
*/__pycache__
__pycache__
*.pyc


doc/build

#.gitignore
