
# Compiled source #
###################
*.o
*.so
*.cpp


# Project configuration files
#############################

.project
.pydevproject
.settings

# Python precompiled
####################
*/__pycache__
__pycache__
*.pyc


doc/build
build
dist
examples/.ipynb_checkpoints
pyVET.egg-info
